{% extends 'SZone/base.html'%}

{%block content%}
    <div >
        <div>
                    <h2>Mobile Development</h2>

        </div>

            {%for cours in courses%}
                <div class="card">
                    <h3>{{cours.titre}}</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{cours.titre}}" name="title">
                        <button type="submit">
                            <img src="{{cours.image.url}}" alt="{{cours.titre}}" style="width:150px">
                        </button>
                    </form>

                </div>
            {%endfor%}

    </div>
{%endblock%}