<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudentZone</title>
    <link href="{%static 'SZone/courses.css'%}" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
    <div class="nav-bar-brand"><h2>StudentZone</h2></div>
    <ul class="items-list">
        <li><a href="/">Home</a></li>
        <li><a href="courses.html">Courses</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <h3 class="menu">Menu</h3>
</nav>

    <section ><!-- class="section-one"-->
        {%block content%}

        {%endblock%}
         <!--<div class="search-box">
            <h2 class="youtube-box-title">Youtube Course Video</h2>
            <div class="youtube-input-container">
                <form>
                    {% csrf_token %}
                    <input class="youtube-search-input" id="yt" placeholder="Search on Youtube" type="text">
                    <button type="submit" class="fa-solid fa-magnifying-glass"></button>
                </form>
             </div>

        <div class="youtube-video-container">
            <div class="course-video">
            </div>
        </div>
         </div>-->
</section>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/3787b39971.js"></script>
</body>
</html>