<!DOCTYPE html>
{%load static%}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Student-Zone</title>
    <link href="{%static 'SZone/HomeStyle.css'%}" rel="stylesheet">
</head>

<body>
<div class="Section_top">
    <div class="Section_top second">
        <div class="content">
            <h1>STUDENT <span>ZONE</span></h1>
            <a href="#module"><span>↓</span>Our Modules<span>↓</span></a>
        </div>
    </div>
</div>

{% if user.is_authenticated%}
<section class="Section-bottom" id="module">
    <div class="card" onclick="window.location.href='/mobile'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/mobile-development.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Mobile Development</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/web/'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/computer.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Web Development</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/network/'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/network.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Network Admin</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/hack/'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/cyber-attack.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Ethical Hacking</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/security/'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/cyber-security.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Cyber Security</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/db/'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/data-storage.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Databases Admin</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
</section>
    {%else%}
        <section class="Section-bottom" id="module">
    <div class="card" onclick="window.location.href='/login'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/mobile-development.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Mobile Development</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/login'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/computer.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Web Development</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/login'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/network.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Network Admin</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/login'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/cyber-attack.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Ethical Hacking</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/login'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/cyber-security.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Cyber Security</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
    <div class="card" onclick="window.location.href='/login'">
        <div class="lines"></div>
        <div class="imgBx">
            <img alt="" src="{% static 'SZone/data-storage.png'%}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Databases Admin</h2>
                <p>The man is a powerful moon.The man is a powerful moon.The man is a powerful moon.The man is a
                    powerful moon.The man is a powerful moon.The man is a powerful moon.</p>
            </div>
        </div>
    </div>
</section>
    {%endif%}

<footer>
    <h2 class="footer-brand">StudentZone</h2>
    <p>Copyright © Feb-2023 Kronos Codeur | Val 79</p>
    <div class="social-icon">
        <img alt="" class="social-icon-img" src="{% static 'SZone/twitter.png'%}">
        <img alt="" class="social-icon-img" src="{% static 'SZone/discord.png'%}">
        <img alt="" class="social-icon-img" src="{% static 'SZone/instagram.png'%}">
        <img alt="" class="social-icon-img" src="{% static 'SZone/whatsapp.png'%}">
        <img alt="" class="social-icon-img" src="{% static 'SZone/linkedin.png'%}">
        <img alt="" class="social-icon-img" src="{% static 'SZone/youtube.png'%}">
    </div>
</footer>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/3787b39971.js"></script>
</body>
</html>