<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudentZone</title>
  <link href="{% static 'SZone/style.css'%}" rel="stylesheet">
</head>
<body>
<nav class="nav-bar">
    <div class="nav-bar-brand"><h2>StudentZone</h2></div>
    <ul class="items-list">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/courses.html">Courses</a></li>
        {% if user.is_authenticated%}
        <li><a href="/logout">logout</a></li>

    {%else%}
        <li><a href="/login">Login</a></li>
    {%endif%}
    </ul>
    <h3 class="menu">Menu</h3>
</nav>
<section class="overview">
    <div class="searchbar">
        <div class="searchbar-wrapper">
            <div class="searchbar-left">
                <div class="search-icon-wrapper">
            <span class="search-icon searchbar-icon">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                    </path>
                </svg>
            </span>
                </div>
            </div>
            <div class="searchbar-center">
                <div class="searchbar-input-spacer"></div>

                <input autocapitalize="off" autocomplete="off" class="searchbar-input" maxlength="2048" name="q"
                       placeholder="Search Google" role="combobox" title="Search" type="text">
            </div>
            <div class="searchbar-right">
                <svg class="voice-search" role="button" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="m12 15c1.66 0 3-1.31 3-2.97v-7.02c0-1.66-1.34-3.01-3-3.01s-3 1.34-3 3.01v7.02c0 1.66 1.34 2.97 3 2.97z"
                          fill="#4285f4">
                    </path>
                    <path d="m11 18.08h2v3.92h-2z" fill="#34a853"></path>
                    <path d="m7.05 16.87c-1.27-1.33-2.05-2.83-2.05-4.87h2c0 1.45 0.56 2.42 1.47 3.38v0.32l-1.15 1.18z"
                          fill="#fbbc05">
                    </path>
                    <path d="m12 16.93a4.97 5.25 0 0 1 -3.54 -1.55l-1.41 1.49c1.26 1.34 3.02 2.13 4.95 2.13 3.87 0 6.99-2.92 6.99-7h-1.99c0 2.92-2.24 4.93-5 4.93z"
                          fill="#ea4335">
                    </path>
                </svg>
            </div>
        </div>
    </div>
    <div class="modules">
        <div class="card">
            <h3 class="card_title">Frontend Development</h3>
            <p class="card_content">Front-end Web development consists of creating graphical interfaces for web
                applications for an attractive user experience.</p>
            <div class="card_stars">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
            </div>
        </div>
        <div class="card">
            <h3 class="card_title">Back End Development
            </h3>
            <p class="card_content">Back-end Web development consists of creating graphical interfaces for web
                applications for an attractive user experience.</p>
            <div class="card_stars">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
            </div>
        </div>
        <div class="card">
            <h3 class="card_title">Mobile Development</h3>
            <p class="card_content">Front-end Web development consists of creating graphical interfaces for web
                applications for an attractive user experience.</p>
            <button><a href="/cours1">get stat</a></button>
            <div class="card_stars">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
            </div>
        </div>
        <div class="card">
            <h3 class="card_title">Artificial Intelligence
            </h3>
            <p class="card_content">Back-end Web development consists of creating graphical interfaces for web
                applications for an attractive user experience.</p>
            <div class="card_stars">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
            </div>
        </div>
        <div class="card">
            <h3 class="card_title">Databases Administration</h3>
            <p class="card_content">Front-end Web development consists of creating graphical interfaces for web
                applications for an attractive user experience.</p>
            <div class="card_stars">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
            </div>
        </div>
        <div class="card">
            <h3 class="card_title">Ethical Hacking
            </h3>
            <p class="card_content">Back-end Web development consists of creating graphical interfaces for web
                applications for an attractive user experience.</p>
            <div class="card_stars">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
            </div>
        </div>
        <div class="card">
            <h3 class="card_title">Network Administration
            </h3>
            <p class="card_content">Back-end Web development consists of creating graphical interfaces for web
                applications for an attractive user experience.</p>
            <div class="card_stars">
                 <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
            </div>
        </div>
        <div class="card">
            <h3 class="card_title">IT Security
            </h3>
            <p class="card_content">Back-end Web development consists of creating graphical interfaces for web
                applications for an attractive user experience.</p>
            <div class="card_stars">
               <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
                <img alt="star" class="star" src="{%static 'SZone/star.png'%}">
            </div>
        </div>
    </div>
</section>
<script crossorigin="anonymous" src="https://kit.fontawesome.com/3787b39971.js"></script>
</body>
</html>