<!DOCTYPE html>
{%load static%}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'SZone/login.css'%}" rel="stylesheet">
</head>
<body>
    <form action="{%url 'login'%}" method="POST">
        {% csrf_token %}
        <div class="login-box">
    <h2 class="title">Connexion</h2>
    <div class="brand" data-text="Awesome">
        <span class="actual-text">&nbsp;STUDENTZONE&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;STUDENTZONE&nbsp;</span>
    </div>
    <div class="form-control">
        <input required type="text" name="username" id="username">
        <label>
            <span style="transition-delay:0ms">U</span><span style="transition-delay:50ms">s</span><span
                style="transition-delay:100ms">e</span><span style="transition-delay:150ms">r</span><span
                style="transition-delay:200ms">n</span><span style="transition-delay:250ms">a</span><span
                style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
        </label>
    </div>
    <div class="form-control">
        <input required="" type="password" name="password" id="password">
        <label>
            <span style="transition-delay:0ms">P</span><span style="transition-delay:50ms">a</span><span
                style="transition-delay:100ms">s</span><span style="transition-delay:150ms">s</span><span
                style="transition-delay:200ms">w</span><span style="transition-delay:250ms">o</span><span
                style="transition-delay:300ms">r</span><span style="transition-delay:350ms">d</span>
        </label>
    </div>
    <div class="button" onclick="window.location.href = '/register';">
        <div class="box">N</div>
        <div class="box">O</div>
        <div class="box">A</div>
        <div class="box">C</div>
        <div class="box">C</div>
        <div class="box">O</div>
        <div class="box">U</div>
        <div class="box">N</div>
        <div class="box">T</div>
    </div>
    <button ><!--onclick="window.location.href = '/index';"-->
        Sign in
        <div class="arrow-wrapper">
            <div class="arrow"></div>
        </div>
    </button>
</div>
    </form>

</body>
</html>