<!DOCTYPE html>
{%load static%}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{%static 'SZone/register.css'%}" rel="stylesheet">
</head>
<body>
    <form action="{%url 'register'%}" method="POST">
        {% csrf_token %}
        <div class="login-box">
    <h2 class="title">Registration</h2>
    <div class="brand" data-text="Awesome">
        <span class="actual-text">&nbsp;STUDENTZONE&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;STUDENTZONE&nbsp;</span>
    </div>
            <div class="form-control">
        <input required type="text" name="nom" id="nom">
        <label>
            <span style="transition-delay:0ms">N</span>
            <span style="transition-delay:50ms">O</span>
            <span style="transition-delay:100ms">M</span>
        </label>
    </div>
            <div class="form-control">
        <input required type="text" name="prenom" id="prenom">
        <label>
            <span style="transition-delay:0ms">P</span>
            <span style="transition-delay:50ms">R</span>
            <span style="transition-delay:100ms">E</span>
            <span style="transition-delay:150ms">N</span>
            <span style="transition-delay:200ms">O</span>
            <span style="transition-delay:250ms">M</span>
        </label>
    </div>
            <div class="form-control">
        <input required type="text" name="username" id="username">
        <label>
            <span style="transition-delay:0ms">U</span>
            <span style="transition-delay:50ms">s</span>
            <span style="transition-delay:100ms">e</span>
            <span style="transition-delay:150ms">r</span>
            <span style="transition-delay:200ms">n</span>
            <span style="transition-delay:250ms">a</span>
            <span style="transition-delay:300ms">m</span>
            <span style="transition-delay:350ms">e</span>
        </label>
    </div>
    <div class="form-control">
        <input required type="email" name="email" id="email">
        <label>
            <span style="transition-delay:0ms">E</span>
            <span style="transition-delay:50ms">m</span>
            <span style="transition-delay:100ms">a</span>
            <span style="transition-delay:150ms">i</span>
            <span style="transition-delay:200ms">l</span>
        </label>
    </div>

    <div class="form-control">
        <input required type="text" name="university" id="university">
        <label>
            <span style="transition-delay:0ms">U</span>
            <span style="transition-delay:25ms">n</span>
            <span style="transition-delay:50ms">i</span>
            <span style="transition-delay:75ms">v</span>
            <span style="transition-delay:100ms">e</span>
            <span style="transition-delay:125ms">r</span>
            <span style="transition-delay:150ms">s</span>
            <span style="transition-delay:175ms">i</span>
            <span style="transition-delay:200ms">t</span>
            <span style="transition-delay:225ms">y</span>
            <span style="transition-delay:250ms">n</span>
            <span style="transition-delay:275ms">a</span>
            <span style="transition-delay:300ms">m</span>
            <span style="transition-delay:325ms">e</span>
        </label>
    </div>
    <div class="form-control">
        <input required type="password" name="password" id="password">
        <label>
            <span style="transition-delay:0ms">P</span>
            <span style="transition-delay:50ms">a</span>
            <span style="transition-delay:100ms">s</span>
            <span style="transition-delay:150ms">s</span>
            <span style="transition-delay:200ms">w</span>
            <span style="transition-delay:250ms">o</span>
            <span style="transition-delay:300ms">r</span>
            <span style="transition-delay:350ms">d</span>
        </label>
    </div>
            {% for i in messages%}
                <p style="color:red">{{i}}</p>
            {%endfor%}
    <div class="form-control">
        <input required type="password" name="passwordconf" id="passwordconf">
        <label>
            <span style="transition-delay:0ms">C</span>
            <span style="transition-delay:50ms">o</span>
            <span style="transition-delay:100ms">n</span>
            <span style="transition-delay:150ms">f</span>
            <span style="transition-delay:200ms">i</span>
            <span style="transition-delay:250ms">r</span>
            <span style="transition-delay:300ms">m</span>
            <span style="transition-delay:350ms">p</span>
            <span style="transition-delay:150ms">a</span>
            <span style="transition-delay:200ms">s</span>
            <span style="transition-delay:250ms">s</span>
            <span style="transition-delay:300ms">w</span>
            <span style="transition-delay:350ms">o</span>
            <span style="transition-delay:250ms">r</span>
            <span style="transition-delay:300ms">d</span>
        </label>
    </div>
    <div class="button" onclick="window.location.href = 'login.html';">
        <div class="box">A</div>
        <div class="box">N</div>
        <div class="box">A</div>
        <div class="box">C</div>
        <div class="box">C</div>
        <div class="box">O</div>
        <div class="box">U</div>
        <div class="box">N</div>
        <div class="box">T</div>
    </div>
    <button ><!--onclick="window.location.href = 'login.html';"-->
        Sign up
        <div class="arrow-wrapper">
            <div class="arrow"></div>
        </div>
    </button>
            </div>
    </form>

</body>
</html>