<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{%static 'SZone/HomeStyle.css'%}" rel="stylesheet">

    <title>Title</title>
</head>
<body>
            <div class="search-box">
            <h2 class="youtube-box-title">Youtube Course Video</h2>
                {%for message in messages%}
                <p>{{message}}</p>
                {%endfor%}
            <div class="youtube-input-container">
                <form method="POST">
                    {% csrf_token %}
                    <input class="youtube-search-input" id="yt" placeholder="Search on Youtube" type="text" name="search">
                    <button type="submit" class="fa-solid fa-magnifying-glass"></button>
                </form>
             </div>
        <hr>
             {%if search%}
                <p>ok</p>
                {%for video in videos %}
                    <a href="https:www.youtube.com/watch?v={{ video.id }}">
                        <img src="{{video.thumbnail}}" alt="{{video.title}}">
                        <p>{{video.title}}</p>
                        <p>{{video.description}}</p>
                        <a href="https:www.youtube.com/watch?v={{ video.id }}">
                {%endfor%}
             {%endif%}
        <div class="youtube-video-container">
            <div class="course-video">
            </div>
        </div>
    </div>


</body>
</html>