* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Book Antiqua", sans-serif;
}

.nav-bar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background: #adaaab;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.1);
}

.menu {
    display: none;
}

.items-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    margin: 0 10px;
    font-size: 30px;
}

.items-list a {
    color: #022c43;
    padding: 0 10px;
    text-decoration: none;
}

.nav-bar-brand {

    text-transform: uppercase;
    left: 0;
    margin-left: 12px;
}

.nav-bar-brand h2 {
    padding: 0 10px;
    color: #022c43;
    font-size: 35px;
    font-family: "Agency FB", sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0);
}

.brand {
    margin-top: -15px;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.brand {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #ffd700;
    --fs-size: 1em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial", sans-serif;
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.brand:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.card {
    width: 210px;
    height: 254px;
    border-radius: 4px;
    background: #022c43;
    display: flex;
    gap: 5px;
    padding: .4em;
}

.card p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #022c43;
    border: 1px solid #ffd700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card p:hover {
    flex: 12;
}

.card p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ffd700;
    letter-spacing: .1em;
}

.card p:hover span {
    transform: rotate(0);
}

.section-one {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 60px);

}

.course-box {
    background: #022c43;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
}

.search-box {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
}

.module-title {
    position: absolute;
    color: gold;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Book Antiqua", sans-serif;
    top: 15%;
    border: 2px solid #adaaab;
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(173, 170, 171, 0.2);
}

.course {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
}

.youtube-input-container {
    position: absolute;
    top: 135px;
}

.youtube-input-container .youtube-search-input {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffd700;
}

.youtube-input-container:hover .youtube-search-input {
    width: 300px;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
}

.youtube-input-container:hover .youtube-search-input::placeholder {
    opacity: 1;
    padding: 10px;
}

.youtube-search-input::placeholder {
    opacity: 0;
    transition: 0.2s ease all;
}

.youtube-search-input:not(:empty) {
    width: 300px;
}

.fa-solid {
    margin: 10px 0 5px 0;
    position: absolute;
    font-size: 30px;
    color: #ffd700;
    transform: translateX(-38px);
}

.youtube-box-title {
    position: absolute;
    text-transform: capitalize;
    text-align: center;
    top: 80px;
    font-size: 30px;
    color: #adaaab;
    border-bottom: 3px solid #ffd700;
}

.course-card {
    border-radius: 15px;
    background: #adaaab;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.02);
    width: 225px;
    height: 400px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.25);
}

.course-card .course-description {
    text-align: center;
}

.course-card .course-title {
    font-size: 25px;
    color: #022c43;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 5px 2px 2px 1px;
    border-bottom: 1px solid #ffd700;
    border-top: 1px solid #ffd700;
}

.course-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.course-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction:column;
  margin:10px
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

img {
  width: 100%;
  height: auto;
}
