{%load static%}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Book Antiqua", sans-serif;
    /*overflow: hidden;*/
}

.Section_top {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(images/img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    animation: change 30s infinite ease-in-out alternate;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.content h1 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}

.content h1 span {
    color: #033d5d;
}

.content a {
    background: #022c43;
    color: #ffd700;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

.content a span {
    font-size: 25px;
    font-weight: bold;
}

.content a:hover {
    background: #022c43;
    color: #ffd700;
}

@keyframes change {
    0% {
        background-image: url(images/img1.jpg);
    }
    20% {
        background-image: url(images/img7.jpg);
    }
    40% {
        background-image: url(images/img3.jpg);
    }
    60% {
        background-image: url(images/img4.jpg);
    }
    80% {
        background-image: url(images/img5.jpg);
    }
    100% {
        background-image: url(images/img1.jpg);
    }
}

.second {
    width: 70%;
    height: 70%;
    position: absolute;
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
}

.Section-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 80px;
    background: #adaaab;
    min-height: 50vh;
}

.card {
    position: relative;
    width: 350px;
    height: 180px;
    background: #333;
    transition: 0.5s;
    margin: 50px;
}

.card:hover {
    height: 450px;
}

.card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.card .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #ffd700, #ffd700, #ffd700, transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}

.card:hover .lines::before {
    animation-play-state: running;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card .lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #022c43;
}

.card .imgBx {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .imgBx {
    top: 25px;
    width: 225px;
    height: 225px;
}

.card .imgBx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #adaaab, #adaaab, #adaaab, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}

.card:hover .imgBx::before {
    animation-play-state: running;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.card .imgBx::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #022c43;
}

.card .imgBx img {
    position: absolute;
    z-index: 1;
    width: 100px;
    filter: invert(1);
    opacity: 0.5;
    transition: 0.5s;
}

.card:hover .imgBx img {
    width: 150px;
    opacity: 1;
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(25px);
    text-decoration: none;
    font-family: "Segoe Fluent Icons", sans-serif;
}

.card .content .details h2 {
    font-family: "Book Antiqua", sans-serif;
    text-transform: capitalize;
    color: #ffd700;
    font-size: 22px;
    margin-top: -10px;
}
/*.card:hover .content .details h2
{
    margin-top: -25px;
    transform: translateY(25px)
}*/
.card .content .details p {
    margin-top: -1px;
    font-size: 15px;
    color: #adaaab;
}

.card .content .details .link {
    display: none;
    background: #adaaab;
    color: #022c43;
}

.card:hover .content .details .link {
    display: flex;
    background: #adaaab;
    color: #022c43;
    font-size: 5px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    height: 50px;
    transform: translateX(100%);
}

.card .content .details p, .link {
    display: none;
    font-family: "Segoe Fluent Icons", sans-serif;
    text-transform: lowercase;
}

.card:hover .content .details {
    transform: translateY(0px);
}

.card:hover .content .details p, .link {
    display: block;
}

footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #022c43;
    color: #adaaab;
    font-weight: bold;
    font-size: 18px;
}

footer p {
    margin: 10px 5px;
    text-align: center;

}

.social-icon {
    margin-right: 25px;
}

footer .social-icon-img {
    opacity: 0.8;
    width: 35px;
    height: 35px;
    transition: 0.2s;
    animation: social 5s ease-in-out alternate-reverse infinite;
}

.social-icon-img:nth-child(1), .social-icon-img:nth-child(3), .social-icon-img:nth-child(5) {
    animation: social 5s ease-in-out alternate-reverse infinite;
}

.social-icon-img:nth-child(2), .social-icon-img:nth-child(4), .social-icon-img:nth-child(6) {
    animation: social-invert 5s ease-in-out alternate-reverse infinite;
}

footer .social-icon-img:hover {
    width: 40px;
    height: 40px;
}

.footer-brand {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: "Agency FB", sans-serif;
    color: #adaaab;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@keyframes social {
    0%, 100% {
        transform: translateY(8px);
    }
    50% {
        transform: translateY(-8px);
    }
}

@keyframes social-invert {
    0%, 100% {
        transform: translateY(-8px);
    }
    50% {
        transform: translateY(8px);
    }
}

@media (max-width: 991px) {
    .footer-brand {
        display: none;
    }

    .Section-bottom {
        padding: 30px;
    }

    .card {
        margin: 50px 5px;
    }
}

@media (max-width: 600px) {
    .Section-bottom {
        padding: 20px;
    }

    .footer-brand {
        display: none;
    }

    .social-icon-img {
        display: none;
    }

    footer p {
        margin-left: 60px;
    }

    .card {
        margin: 50px 5px;
    }

    .content h1 {
        font-size: 40px;
    }
}