* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Book Antiqua", sans-serif;
}

body {
    background: #adaaab;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.login-brand {
    top: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.login-brand h2 {
    position: fixed;
    transform: translateY(-50px);
    background: #fff;
    border-radius: 5px;
    padding: 0 10px;
    color: #022c43;
    font-size: 35px;
    font-family: "Agency FB", sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.login-box .title {
    color: #fff;
    font-size: 60px;
    font-family: "Book Antiqua", sans-serif;
    font-weight: bold;
    top: 20px;
    position: fixed;
    border-bottom: 5px solid #ffd700;
}

.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.8;
    background: #000 /*rgba(255,255,255,0.25)*/;
    backdrop-filter: blur(10px);
    padding: 25px 50px;
    width: 500px;
    height: 500px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px rgba(255, 255, 255, 0.5);
}

.form-control {
    position: relative;
    margin: 10px 0 10px;
    width: 100%;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
    border-bottom-color: #ffd700;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    color: #ffd700;
    transform: translateY(-30px);
}

button {
    position: fixed;
    bottom: 70px;
    --primary-color: #ffd700;
    --secondary-color: #fff;
    --hover-color: #022c43;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

button:hover {
    background-color: var(--hover-color);
}

button:hover .arrow {
    background: var(--secondary-color);
}

button:hover .arrow:before {
    right: 0;
}

@media (max-width: 991px) {
    .login-box .title {
        font-size: 60px;
    }

    .login-brand h2 {
        margin-top: -10px;
        font-size: 35px;
    }

    .login-box {
        height: 400px;
    }
}

@media (max-width: 600px) {
    .login-box .title {
        font-size: 40px;
    }

    .login-brand h2 {
        margin-top: -20px;
        font-size: 25px;
    }

    button {
        margin-bottom: -35px;
    }

}

.button {
    margin-top: 12px;
    display: flex;
}

.box {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #022c43;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: rgb(173, 170, 173);
    overflow: hidden;
}

.box:before {
    font-weight: bold;
    color: #022c43;
    content: "S";
    position: absolute;
    top: 0;
    background: #ffd700;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
}

.box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'I';
}

.box:nth-child(3)::before {
    content: 'G';
}

.box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'N';
}

.box:nth-child(5)::before {
    content: 'U';
}

.box:nth-child(6)::before {
    transform: translateY(-100%);
    content: 'P';
}

.box:nth-child(7)::before {
    content: 'N';
}

.box:nth-child(8)::before {
    transform: translateY(-100%);
    content: 'O';
}

.box:nth-child(9)::before {
    content: 'W';
}

.button:hover .box:before {
    transform: translateY(0);
}

.brand {
    margin-top: -15px;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.brand {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #ffd700;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.brand:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}