* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Book Antiqua", sans-serif;
}

.card::before {
    content: "";
    position: absolute;
    transform: translate(125px, 200px);
    background: #fff;
}

.nav-bar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background: #adaaab;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.1);
}

.menu {
    display: none;
}

.items-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {

    margin: 0 10px;
    font-size: 30px;
}

.items-list a {
    color: #022c43;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;
}

.nav-bar-brand {

    text-transform: uppercase;
    left: 0;
    margin-left: 12px;
}

.nav-bar-brand h2 {
    padding: 0 10px;
    color: #022c43;
    font-size: 35px;
    font-family: "Agency FB", sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0);
}

.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 44px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 50px auto;
    width: 50%;
    max-width: 50%;
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-icon-wrapper {
    margin: auto;
}

.search-icon {
    margin-top: 3px;
    color: #adaaab;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin: -37px 0 0;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}

.searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row
}

.searchbar-clear-icon {
    margin-right: 12px
}

.voice-search {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 2.8em;
}

.overview {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: #022c43;
}

.modules {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    z-index: 1000;
    color: #fff;
    --border-radius: 0.75rem;
    margin: 15px;
    width: 300px;
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 3%);
}


.card > * + * {
    margin-top: 1.1em;
}

@media (max-width: 600px) {
    .searchbar {
        width: 60%;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .card {
        margin: 12px;
        height: 110px;
        width: 160px;
        overflow: hidden;
    }

    .card_content {
        display: none;
    }

    .modules {
        flex-wrap: wrap;
    }

    .items-list {
        display: none;
    }

    .nav-bar-brand {
        margin-right: 15px;
        margin-left: -15px;
    }

    .menu {
        display: block;
        margin-right: -15px;
        margin-left: 15px;
    }
}

@media (max-width: 991px) {
    .searchbar {
        margin-top: 100px;
    }

    .items-list {
        display: none;
    }

    .modules {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar-brand {
        margin-left: -25px;
    }

    .menu {
        display: block;
    }
}

.star {
    width: 5px;
}

html {
    scroll-behavior: smooth;
}

.card .card_stars {
    align-items: center;
    justify-content: center;
    display: flex;
}

.card .card_stars .star {
    width: 20px;
    height: 20px;
}